
#title1 {
  background: #ADD8E6;
  border: 1px solid blue
}

h1 {
  padding: 10px;
  margin: 5px;
  text-align: center;
}

table {
  background-image: url("sky-383823_640.jpg");
  color: white;

}

.images {
  border-radius: 25px;
}

/* visited link */
a:visited {
    color: green;
}

@media screen and (max-width: 517px) {
    table { display: none; }
}
